.slider-wrapper{
	position:relative;
	overflow:hidden;
	
	width:100%;
	
	margin:0 0 0 0;

 background:#000;
 
 font-size:12px;
	
	
}
.pink { color:#db0080; font-size:15px; text-decoration:none}


.slider{
	position:relative;
	width:990px; 
	height:470px; 
	margin:0;
	color:#949494;

}
.slider2{
		padding-top:80px;
	background:url(../images/bgSlider.jpg) left bottom no-repeat;
}

.background-slider {background:url(images/slidertopbg.jpg) top left no-repeat}
.fraction-slider{
	position:relative;
	width:100%; height:100%;
	overflow:visible;
}

.fraction-slider .slide{
	display:none; width:100%; height:100%;
	position:absolute;
	z-index:5000;
}

.fraction-slider .active-slide{
	z-index:9999;
}

.fraction-slider .fs_obj{
	display:block; display:none;
	position:absolute;
	top:0px; left:100%;
	z-index:7000;
}

.fraction-slider .fs_fixed_obj{
	z-index:6000;
	left:0;
}

.fraction-slider .fs_obj *{
	display:inline-block;
	position:relative;
	top:0px; left:0px;
}

.fs_loader{
	width:100%; height:400px;
	background:url(images/fs.spinner.gif) center center no-repeat transparent;
}

/** CONTROLS **/

.fraction-slider .prev,
.fraction-slider .next{
	
	position:absolute;
	width:58px; height:58px;
	z-index:9999;
	outline:none;
}

.fraction-slider .prev{
	left:884px; top:195px;
	background:url(images/fs.prevnext.png) 0px 0px no-repeat transparent;
	
}
.fraction-slider .prev:hover{
	background:url(images/fs.prevnext.png) 0px -62px no-repeat transparent;
}

.fraction-slider .next{
	right:0px; top:195px;
	background:url(images/fs.prevnext.png) -50px 0px no-repeat transparent;
}
.fraction-slider .next:hover{
	background:url(images/fs.prevnext.png) -50px -62px no-repeat transparent;
}

.fraction-slider:hover .prev,
.fraction-slider:hover .next{
	display:block;
}

/** PAGER **/

.fs-pager-wrapper{
	position:absolute;
	left:10px; bottom:10px;
	z-index:9999;	
}

.fs-pager-wrapper a{
	display:inline-block;
	width:14px; height:14px;
	margin:0 5px 0 0;
	background:url(images/fs.pager.png) 0px -14px no-repeat transparent;
}
.fs-pager-wrapper .active{
	background:url(images/fs.pager.png) 0px 0px no-repeat transparent;
}

