@charset "utf-8";


html,body{
	font-family:Arial, Helvetica, sans-serif;
	width:100%;
	height:100%;
	
	
}
header, a, img, li{
transition: all 1s;
-moz-transition: all 1s; /* Firefox 4 */
-webkit-transition: all 1s; /* Safari and Chrome */
-o-transition: all 1s; /* Opera */
}



ul{list-style-type: none;float: left;}

li{display: inline;float: left;}

img.logo{float: left;}

nav{margin: 0; }

div.stretch{ padding:30px;}

div.stretch p{
				font-family: 'Amaranth', sans-serif;
				font-size: 30px;
				color: #969696;
				text-align: center;
				position: relative;
				margin-top: 250px;
			}



header{
background: #fff;
float: left;
width: 100%;
position: fixed;
z-index:999999;

}

header a{
color: #000;
text-decoration: none;
}

header a.active, header a:hover{
color: #3d3d3d;
}

header li{margin-left: 30px;}

/* Sizes for the bigger menu */
header.large{height: 180px;}

header.large img{
width: 170px;
height: 104px;
padding:30px;
}

header.large li{
margin-top: 75px;
}

/* Sizes for the smaller menu */
header.small{ height: 75px;-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);}

header.small img{ 
width: 98px; 
height:60px; 
margin-top: -2px; 
padding:10px 10px 20px 10px;
}

header.small li{ margin-top: 25px; }


.slide{}


#slide1{height:432px;  padding-top:180px; background:#f1f1f1}
#slide1 .contentWrapper { background:#de34b1; width:100%; height:432px; padding:0; overflow:hidden;}
#slide1 #content {position:relative;  padding:0; float:left; width:62%;height:432px; 

}
#slide1 #content img {}
#slide1 .contentRight{position:relative; background:#de34b1; width:38%; padding:0; float:right; }



#slide2{ background:#de34b1;  }
#slide2 .contentWrapper2 { width:100%; padding:0; margin:0;position:relative;float:left; max-height:805px; overflow:hidden}
#slide2 .content2 {position:relative;  width:62%; padding:0; float:left}
#slide2 .contentRight2 img {}
#slide2 .contentRight2{position:relative; background:#de34b1 url(../images/poster2.jpg) 25% 0%;  padding:0; float:right; width:38%;min-height:805px; -webkit-box-shadow: inset -1px 20px 19px -13px rgba(50, 50, 50, 0.44);
-moz-box-shadow:    inset -1px 20px 19px -13px rgba(50, 50, 50, 0.44);
box-shadow:         inset -1px 20px 19px -13px rgba(50, 50, 50, 0.44);  }


#slide3{ background:#000; }
#slide3 .contentWrapper3 { width:100%; padding:0; ;position:relative;float:left; max-height:600px;}
#slide3 .content3 {position:relative;  width:45%; padding:0; float:left; margin:30px 0 0 0}
#slide3 .contentRight3 img {}
#slide3 .contentRight3{position:relative; background:#de34b1;  padding:0; float:right; width:55%;}

#simple-vertical {
  width: 100%;
  color: #FFF;
}
.blockSample {
  left: 20px; 
  top: 20px; 
  padding: 6px 8px; 
  background: #FFF; 
  color:#000;
}

#slide4{ background:#fff; }
#slide4 .contentWrapper4 { width:100%; padding:0; position:relative;float:left; max-height:800px; background:#fff; padding-bottom:400px;}
#slide4 .content4 {position:relative;   padding:30px; float:left}

/******************* Circular Content Carousel Style */
.clear {clear:both}
.left {margin-right:5px;}
h3 {font-family: Arial, Helvetica, sans-serif; display:block; color:#000; font-size:14px; margin:10px 0 6px 0;}
h1 {font-family: 'Yesteryear', cursive; font-size:36px; padding:10px; width:100%; background:#f2f2f3; color:#d34786;
-webkit-box-shadow: inset -1px 20px 19px -13px rgba(50, 50, 50, 0.44);
-moz-box-shadow:    inset -1px 20px 19px -13px rgba(50, 50, 50, 0.44);
box-shadow:         inset -1px 20px 19px -13px rgba(50, 50, 50, 0.44);}
h2 {font-family: 'Yesteryear', cursive; color:#fff; font-size:36px; font-weight:100}
h4 {font-family: 'Yesteryear', cursive; color:#d34786; font-size:30px; font-weight:100}
.white {color:#fff}
.arrow {font-size:14px; color:#dd0884}
.head {font-family: 'Yesteryear', cursive; color:#fff; font-size:76px; font-weight:100; width:500px; display:block; padding:10px}
.head1 {font-family: 'Yesteryear', cursive; color:#fff; font-size:56px; font-weight:100; width:400px; display:block; padding:10px}
#vertical {width:100%; background:#0CC}
#vertical div.element { float:left; width:49.5%;  height:180px; position:relative; overflow:hidden;  font-size:12px; color:#a3a1a4;
border-left: 1px dashed #d4d3d3;
border-bottom: 1px dashed #d4d3d3;

}
.wrap { display: block; height: 180px; width: 100%; position: absolute; top: 0; }
.init { display: block; height: 180px; width:80%; padding:5% 10%;}
.short { display: block; height: 180px; width:100%; background: #f2f2f3; font-size:11px;
background: #fafafa;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f7f7f7));
background: -moz-linear-gradient(100% 100% 90deg, #f7f7f7, #fff);}


.wrap  img {margin:1% 0; display:block;}
.wrap p { display:block; width:99%;}
.short p { display:block; width:90%; padding:5%}
.short h3 { display:block; width:90%; padding:5% 0 0 5%; margin:0; color:#dd0884}

.contenthover { padding:20px 20px 10px 20px;}
.contenthover, .contenthover h3, contenthover a { color:#595959; cursor:auto}
.contenthover h3 { margin:0 0 10px 0; line-height:1.4em; padding:0;  color:#de34b1}
.contenthover p { margin:0 0 10px 0; line-height:1.4em; padding:0; font-size:11px; }

.block2 { float:left; padding:20px;  text-align:left;  color:#595959; font-size:14px;}
.block3 { float:left; padding:20px;  text-align:left;  color:#595959; font-size:14px;}

.social-icons ul li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
.social-icons{
	padding:10px 0;
	float:left;
	
}
.social-icons li {
	background: none;
	padding-right:5px;
	display: inline-block;
}
li.facebook a span {
	height: 50px;
	width: 50px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat -91px -3px;
}
li.facebook a span:hover {
	background: url(../images/img-sprite.png) no-repeat -91px -58px;
}
li.twitter a span {
	height: 50px;
	width: 50px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat -145px -2px;
}
li.twitter a span:hover {
	background: url(../images/img-sprite.png) no-repeat -145px -58px;
}
li.rss a span {
	height: 50px;
	width: 50px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat -199px -2px;
}
li.rss a span:hover {
	background: url(../images/img-sprite.png) no-repeat -199px -58px;
}

@media screen and (min-width: 1280px) {
.block { padding:30px 20px 10px 20px; width:320px;  height:205px;} 
}

@media screen and (min-width: 1920px) {
 .block { padding:30px 20px 10px 20px; width:480px;  height:205px;} 
}
@media screen and (min-width: 460px) {
 
}

@-webkit-keyframes throb {
  0% {
    -webkit-transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes throb {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

/* Individual Caption Styles */



@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}




